configuration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connection">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mainArchive">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="replicaName"/>
                    <xs:element name="replicaSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="replica" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="addressDBMS"/>
                                <xs:element type="xs:string" name="portDBMS"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="recommendationArchive">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="addressDBMS"/>
                    <xs:element type="xs:string" name="portDBMS"/>
                    <xs:element type="xs:string" name="user"/>
                    <xs:element type="xs:string" name="password"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>